/* Custom properties/variables  */
:root {    
    --darkest-blue: #002;
    --darker-blue: #00011B;
    --main-color: #020335;
    --lighter-color: #0D0F66;
    --white: #f0f0f0;
    --gray: #346;
    --gray-blue: #358;
}


html, body {
    box-sizing: border-box;
    scroll-behavior: smooth;
    line-height: 1.5;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.6rem;
    font-family: 'Lobster', cursive;
    font-weight: 400;
    background: var(--white);
    color: var(--lighter-color);
}

/* Header and Navbar */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--darkest-blue);    
    z-index: 10;
}

a {
    text-decoration: none;    
}

img {
    display: block;
    width: 100%;
}

footer {
    background: var(--darkest-blue);
    color: var(--white);
    padding: 2rem;
    text-align: center;
    margin: 0;    
}

#navbar {
    padding: 2rem;
    text-align: center;    
}

#navbar .nav-link {
    text-decoration: none;
    color: var(--white);    
    margin-left: .8rem;
    padding: 1rem;
    border-radius: 5px;       
}

.selected {    
    background: var(--lighter-color);
}

/* Welcome Section */

#welcome-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;    
}

#profile-picture {
    border-radius: 50%;
    width: 180px;
}

/* Projects Section */

#projects {
    width: 100%;
    background: var(--darker-blue); 
    display: flex;       
    flex-direction: column;
    align-items: center;
    
}

.section-title {
    color: var(--white);    
    padding-top: 4rem;
}

.project-tile {    
    width: 90%;
    margin: 2rem;        
}

.project-tile:hover {
    background: var(--white);
    padding: .2rem;
}

.p-description {
    background: var(--gray);
    color: var(--white);
    padding: .150rem;
    text-align: center;      
    z-index: -1;  
    border-radius: 2px;
}

.btn {
    border: none;
    padding: 1rem 2.8rem;    
    background: var(--lighter-color);
    color: var(--white);         
    margin-bottom: 2rem;
}

.btn:hover {
    background: var(--white);
    color: var(--lighter-color); 
}

/* Contact Section */

#contact {
    text-align: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact a {
    color: inherit;
}

#contact-img {
    width: 10%;
    height: auto;
    margin: 0 auto;    
}

#contact-img:hover {
    width: 12%;
    height: auto;
}