/* Custom properties/variables  */
:root {    
    --darkest-blue: #002;
    --darker-blue: #00011B;
    --main-color: #020335;
    --lighter-color: #0D0F66;
    --gray-color: #62648E;
    --main-white: #f0f0f0;
}


html, body {
    box-sizing: border-box;
    scroll-behavior: smooth;
    line-height: 1.5;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.6rem;
    font-family: 'Lobster', cursive;
    font-weight: 400;
    background: var(--main-white);
    color: var(--lighter-color);
}

/* Header and Navbar */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--darkest-blue);    
    z-index: 10;
}

#navbar {
    padding: 2rem;
    text-align: center;    
}

#navbar .nav-link {
    text-decoration: none;
    color: var(--main-white);    
    margin-left: .8rem;
    padding: 1rem;
    border-radius: 5px;       
}

.selected {    
    background: var(--lighter-color);
}

/* Welcome Section */

#welcome-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;    
}